
.main {
  width: 100%;
  background: url("assets/main2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .ic_logo {
    background: url("assets/logo_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .home_section_empty_part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    align-items: center;
  }

  .section_3 {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background: url("assets/view2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section_home_footer {
    display: flex;
    height: 500px;
    align-items: center;
    flex-direction: column;
    background: url("assets/footer.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

  .home_links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo_text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: transparent;
  }

  .text_logo_big {
    color: white;
    font-size: 32px;
  }

  .text_logo_small {
    color: white;
    font-size: 26px;
  }

  .white {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    opacity: 0.75;
    align-content: center;
  }

  .text, li{
    text-align: center;
    color: black;
  }

  .text_title {
    font-size: 30px;
    text-decoration: overline;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  li:hover {
    font-weight: bold;
    text-decoration: overline;
  }

  .title {
    color: black;
    font-weight: bold;
  }

.carousel {
    height: 90vh;
}

.farmer_devider {
  background: url("assets/farmer_devider.png") no-repeat top center fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
}

.instagram_icon {
  background: url("assets/instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 7vh;
  height: 7vh;
}
.vkontakte_icon {
  background: url("assets/vkontakte.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 6vh;
  height: 6vh;
}
.facebook_icon {
  background: url("assets/facebook.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 7vh;
  height: 7vh;
}
