.trip_main {
  display: flex;
  width: 100vw;
  height: 100vw;
  flex-direction: column;
  background: url("assets/trip_header.jpg") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.trip_section_header {
  display: flex;
  height: 60vh;
  flex-direction: column;
  padding-top: 15vh;
  padding-right: 7vh;
  padding-bottom: 5vh;
  justify-content: center;
  align-items: flex-end;
}
.trip_header_title {
  color: white;
  font-size: 50px;
  text-decoration: overline;
  font-weight: normal;
  text-transform: uppercase;
}

.trip_header_second_title {
  color: white;
  margin-top: 16px;
  font-size: 25px;
  font-weight:lighter;
  text-transform: uppercase;
}
.trip_vert_line {
  height: 15%;
  width: 3px;
  background: white;
}

.trip_blocks {
  width: 100vw;
  background: #eeeeee;
}

.trip_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.trip_block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 40vh;
  background: blue;
  margin: 16px;

  flex: 0 1 30%;
}

.trip_block:hover {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 16px;
  flex: 0 1 30%;
}


.trip_block:hover .trip_block_info {
  visibility:visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: black;
  opacity: 0.5;
}

.trip_block:hover .trip_block_info_child {
  position: absolute;
  visibility: visible;
  width: 100%;

  display: flex;
  background: white;
  flex-direction: column;
  padding-bottom:8px;
}

.trip_block_ic {
  display: block;
  height: 100%;
}

.trip_block_info {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  background: black;
  flex-direction: column;
  justify-content: flex-end;
}

.trip_block_info_child{
  position: absolute;
  visibility: hidden;
  width: 100%;
  display: flex;
  background: #eeeeee;
  flex-direction: column;
  padding: 8px;
}

.trip_block_info_title {
  display: block;
  color: black;
  text-decoration: overline;
  font-weight: bold;
  font-size: 18px;
}

.trip_block_info_text {
  display: block;
  color: black;
  font-weight: 400;
  font-size: 16px;
}
